/**
 +----------------------------------------------------------
 * wythe,开发平台生成控制器模板
 +----------------------------------------------------------
 * detail:
 +----------------------------------------------------------
 * TIME:alt+t
 +----------------------------------------------------------
 * author:wythe(汪志虹)
 +----------------------------------------------------------
 */
namespace {<{$ModuleName}>}\Controller;
use Common\Controller\CommonController;
class {<{$ControllerName}>}Controller extends CommonController{
	/*
	 +----------------------------------------------------------
	 *首页展示页
	 +----------------------------------------------------------
	 * @param  void;
	 +----------------------------------------------------------
	 * @return view
	 +----------------------------------------------------------
	*/
	public function index(){
		$this->display();
	}

	/*
	 +----------------------------------------------------------
	 * 首页ajax获取数据页
	 +----------------------------------------------------------
	 * @param  ;
	 +----------------------------------------------------------
	 * @return json{rows:array,count:int}
	 +----------------------------------------------------------
	*/
	public function XHRIndex(){
		/*1.获取post传入数据,content-type不是multipart/form-data*/
			$postData = json_decode(str_replace('/', '-', file_get_contents('php://input')), true);	

		/*2.特殊权限*/

		/*3.查看字段权限*/

		/*4.搜索判断*/
			$where = array();
			if($postData['field']){
				$where['field'] = $postData['field'];
			}

		/*5.排序*/
			$order = $postData['sortName'].' '.$postData['sortOrder'];

		/*6.查询数据*/
			if(!$postData['pageNumber'] && !$postData['pageSize']){
				$postData['pageNumber'] = 1;
				$postData['pageSize'] = 2500;
			}
			$data = D('{<{$ModelName}>}')->where($where)->page($postData['pageNumber'] ,$postData['pageSize'])->order($order)->select();
			$count = D('{<{$ModelName}>}')->where($where)->count();

		/*7.返回数据*/
			$this->ajaxReturn(array('total' => $count, 'rows' => $data));	
	}

	/*
	 +----------------------------------------------------------
	 * 增加界面
	 +----------------------------------------------------------
	 * @param  void;
	 +----------------------------------------------------------
	 * @return view
	 +----------------------------------------------------------
	*/
	public function add(){
		$this->display();
	}

	/*
	 +----------------------------------------------------------
	 * 修改界面
	 +----------------------------------------------------------
	 * @param  $_POST;
	 +----------------------------------------------------------
	 * @return view
	 +----------------------------------------------------------
	*/
	public function edit(){
		$eidtData = D('{<{$ModelName}>}')->getEditData($_POST);
		$this->assign('editData',$eidtData);
		$this->display();
	}

	/*
	 +----------------------------------------------------------
	 * 增加操作
	 +----------------------------------------------------------
	 * @param  $_POST;
	 +----------------------------------------------------------
	 * @return json{status:bool,msg:string,data:mix}
	 +----------------------------------------------------------
	*/
	public function insert(){
		$res = D('{<{$ModelName}>}')->insert($_POST);
		$this->ajaxReturn($res);
	}

	/*
	 +----------------------------------------------------------
	 * 修改操作
	 +----------------------------------------------------------
	 * @param  $_POST;
	 +----------------------------------------------------------
	 * @return json{status:bool,msg:string,data:mix}
	 +----------------------------------------------------------
	*/
	public function update(){
		$res = D('{<{$ModelName}>}')->update($_POST);
		$this->ajaxReturn($res);
	}

	/*
	 +----------------------------------------------------------
	 * 删除操作
	 +----------------------------------------------------------
	 * @param  $_POST;
	 +----------------------------------------------------------
	 * @return json{status:bool,msg:string,data:mix}
	 +----------------------------------------------------------
	*/
	public function delete(){
		$res = D('{<{$ModelName}>}')->delete($_POST);
		$this->ajaxReturn($res);
	}
}
