/**
 +----------------------------------------------------------
 * wythe,开发平台生成模型模板
 +----------------------------------------------------------
 * detail:
 +----------------------------------------------------------
 * TIME:alt+t
 +----------------------------------------------------------
 * author:wythe(汪志虹)
 +----------------------------------------------------------
 */
namespace {<{$ModuleName}>}\Model;
use Think\Model;
class {<{$ModelName}>}Model extends Model{

	/*
	 +----------------------------------------------------------
	 * 增加操作
	 +----------------------------------------------------------
	 * @param  mix;
	 +----------------------------------------------------------
	 * @return json{status:bool,msg:string,code:int,data:mix}
	 +----------------------------------------------------------
	*/
	public function insert($data){

	}

	/*
	 +----------------------------------------------------------
	 * 增加操作
	 +----------------------------------------------------------
	 * @param  mix;
	 +----------------------------------------------------------
	 * @return json{status:bool,msg:string,code:int,data:mix}
	 +----------------------------------------------------------
	*/
	public function update($data){

	}

	/*
	 +----------------------------------------------------------
	 * 更新操作
	 +----------------------------------------------------------
	 * @param  mix;
	 +----------------------------------------------------------
	 * @return json{status:bool,msg:string,code:int,data:mix}
	 +----------------------------------------------------------
	*/
	public function delete($dat){

	}
}