<extend name="./Public/view/indexTable.html" />
<block name="baseToolbar">
    <ul class="layui-nav layui-layout-left" style="left:0px;">
      <li class="layui-nav-item"><a href="javascript:;" id="addUser">新增</a></li>
      <li class="layui-nav-item"><a href="javascript:;" id="editUser">编辑</a></li>
      <!-- <li class="layui-nav-item"><a href="javascript:;" id="enableUser">启用</a></li>
      <li class="layui-nav-item"><a href="javascript:;" id="disableUser">禁用</a></li> -->
      <li class="layui-nav-item"><a href="javascript:;" id="deleteUser">删除</a></li>
    </ul>
    <form class="layui-layout-left layui-form" style="padding:10px;left:450px;">
      <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="keyword">
            </div>
        </div>
      </div>
    </form>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item"><a href="javascript:;" id="search" >查询</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">导出</a>
        <dl class="layui-nav-child">
          <dd class="exportExcel" data-type="excel" data-export="all"><a href="javascript:;">全部<a></dd>
          <dd class="exportExcel" data-type="excel" data-export="page"><a href="javascript:;">本页<a></dd>
          <!-- DEBUG<dd class="exportExcel" data-type="excel" data-export="selected"><a href="javascript:;">选中项<a></dd> -->
        </dl>
      </li>
    </ul>  
</block>
<block name="baseAdvancedSearch">
 
</block>
<block name="baseFields">
    <th class="check" data-checkbox="true" data-width="40"></th>
    <th data-field="id" data-width="40" data-align="center" data-formatter="indexFormatter">ID</th>
    <th data-field="username">账号</th>
    <th data-field="status" data-formatter="statusFormmater">状态</th>
    <th data-field="email">邮箱</th>
    <th data-field="customer_company">公司</th>
    <th data-field="customer_name">用户名</th>
    <th data-field="customer_add1">省</th>
    <th data-field="customer_add2">城/市</th>
    <th data-field="customer_add3">县/区</th>
    <th data-field="customer_add4">详细地址</th>
    <th data-field="customer_tel">手机</th>
    <th data-field="customer_fax">传真</th>
    <th data-field="customer_zipcode">邮编</th>
</block>
<block name="baseScript">
<script>
var layer = '';
layui.use(['form','jquery','layedit','laydate','element','layer'],function(){
    var form = layui.form
    ,layer = layui.layer
    ,element = layui.element
    ,layedit = layui.layedit
    ,laydate = layui.laydate
    ,$ = layui.jquery;
    /*增加按钮点击*/
    $('#addUser').click(function(){
         var index = layer.open({
              title : '增加用户',
              type : 2,
              content : '__USER__/User/add',
              success : function(layero, index){
                setTimeout(function(){
                      layer.tips('点击此处返回用户列表', '.layui-layer-setwin .layui-layer-close', {
                        tips: 3
                      });
                },500)
              }
           });
        //改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
        $(window).resize(function(){
          layer.full(index);
        })
        layer.full(index);             
    });
    /*修改按钮点击*/
    $('#editUser').click(function(){
        var selectedRows = $('#DataTable').bootstrapTable('getSelections');
        if(selectedRows.length!=1){
            layer.msg('编辑数量错误！请选择一个用户！');
            return false;
           }
         var index = layer.open({
              title : '修改用户',
              type : 2,
              content : '__USER__/User/edit/id/'+selectedRows[0].id,
              success : function(layero, index){
                setTimeout(function(){
                      layer.tips('点击此处返回用户列表', '.layui-layer-setwin .layui-layer-close', {
                        tips: 3
                      });
                },500)
              }
           });
        //改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
        $(window).resize(function(){
          layer.full(index);
        })
        layer.full(index);  
    });
    /*删除按钮点击*/
    $('#deleteUser').click(function(){
        layer.msg('暂不启用！');
        return;
        var selectedRows = $('#DataTable').bootstrapTable('getSelections');
        if(selectedRows.length < 1){
            layer.msg('尚未选择要删除的用户！');
            return false;
           }
           layer.open({
            type:1
            ,offset:'100px'
            ,content:'<div style="padding:10px;maring:4px;">你确定要删除所选用户吗？删除后不可恢复！</div>'
            ,btn:['确定删除','改为禁用','取消']
            ,yes:function(){
                var index = layer.load(1, {shade: [0.7,'#000'] });//0.1透明度的白色背景
                setTimeout(function(){                      
                    var selectedId = [];
                    for (var i = 0; i < selectedRows.length; i++) {
                        selectedId[selectedId.length] = selectedRows[i].id;
                    }
                    $.ajax({
                        url:'__USER__/User/delete'
                        ,type:'post'
                        ,data:{user_id:selectedId}
                        ,dataType:'json'
                        ,success:function(res){
                           layer.msg(res.msg);
                           if(res.status){
                            window.location.realod();
                           }
                        }
                    });
                },500);                   
            }
            ,btn2:function(){
                var index = layer.load(1, {shade: [0.7,'#000'] });//0.1透明度的白色背景
                setTimeout(function(){                      
                    var selectedId = [];
                    for (var i = 0; i < selectedRows.length; i++) {
                        selectedId[selectedId.length] = selectedRows[i].id;
                    }
                    $.ajax({
                        url:'__USER__/User/disableUser'
                        ,type:'post'
                        ,data:{user_id:selectedId}
                        ,dataType:'json'
                        ,success:function(res){
                            console.log(res);
                            if(res.status){
                                layer.close(index);
                                layer.msg('用户已禁用！');
                                setTimeout(function(){
                                    location.reload();
                                },1000);
                            }else{
                                layer.close(index);
                                layer.msg(res.errorMsg);
                            }
                        }
                    });
                },500);                         
            }
            ,btn3:function(){

            }
           });

    });
    /*启用按钮*/
    $('#enableUser').click(function(){
        var selectedRows = $('#DataTable').bootstrapTable('getSelections');
        if(selectedRows.length < 1){
            layer.msg('尚未选择要启用的用户！');
            return false;
        }  
        var index = layer.load(1, {shade: [0.7,'#000'] });//0.1透明度的白色背景
        setTimeout(function(){                      
            var selectedId = [];
            for (var i = 0; i < selectedRows.length; i++) {
                selectedId[selectedId.length] = selectedRows[i].id;
            }
            $.ajax({
                url:'__USER__/User/enableUser'
                ,type:'post'
                ,data:{user_id:selectedId}
                ,dataType:'json'
                ,success:function(res){
                    console.log(res);
                    if(res.status){
                        layer.close(index);
                        layer.msg('用户已启用！');   
                        setTimeout(function(){
                            location.reload();
                        },1000);   
                    }else{
                        layer.close(index);
                        layer.msg(res.errorMsg);
                    }
                }
            });
        },500); 
    });      
    /*禁用按钮*/
    $('#disableUser').click(function(){
        var selectedRows = $('#DataTable').bootstrapTable('getSelections');
        if(selectedRows.length < 1){
            layer.msg('尚未选择要启用的用户！');
            return false;
        }  
        var index = layer.load(1, {shade: [0.7,'#000'] });//0.1透明度的白色背景
        setTimeout(function(){                      
            var selectedId = [];
            for (var i = 0; i < selectedRows.length; i++) {
                selectedId[selectedId.length] = selectedRows[i].id;
            }
            $.ajax({
                url:'__USER__/User/disableUser'
                ,type:'post'
                ,data:{user_id:selectedId}
                ,dataType:'json'
                ,success:function(res){
                    console.log(res);
                    if(res.status){
                        layer.close(index);
                        layer.msg('用户已禁用！');  
                        setTimeout(function(){
                            location.reload();
                        },1000);     
                    }else{
                        layer.close(index);
                        layer.msg(res.errorMsg);
                    }
                }
            });
        },500); 
    });
});
</script>
</block>
<block name="baseFunction">
<script>

function statusFormmater(_value){
  return _value ? '<font class="text-success">启用</font>' :'<font class="text-error">禁用</font>';
}
var indexLoad = '';
function XHRTable(callback){
      $("#DataTable").bootstrapTable('destroy').bootstrapTable({
          method: "post", //使用post请求到服务器获取数据
          url: "__USER__/User/XHRIndex", //获取数据的Servlet地址
          height:getHeight(),
          classes:'layui-table text-nowrap',
          pagination: true, //启动分页
          pageSize: 25, //每页显示的记录数
          pageNumber: 1, //默认显示页
          pageList: [25,50,100,200,1500], //记录数可选列表
          search: false, //是否启用查询
          showColumns: false, //显示下拉框勾选要显示的列
          showRefresh: false, //显示刷新按钮
          showExport:true,//显示是否可以导出(这里只做开启用)
          sidePagination: "server", //表示服务端请求
          //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
          //设置为limit可以获取limit, offset, search, sort, order
          queryParamsType: "undefined",
          queryParams: function queryParams(params) { //设置查询参数
              indexLoad = layer.load(2,{time: 10*1000,shade:0.2});
              var param = {
                  pageNumber: params.pageNumber,
                  pageSize: params.pageSize,
                  sortOrder:params.sortOrder=='asc' ? 'desc' :'asc',
                  sortName: params.sortName ? params.sortName:'id',
                  keyword:$('#keyword').val()
              };
              return param;
          },
          onLoadSuccess:function(){
            layer.close(indexLoad);
          }
      });     
}
</script>
</block>