<extend name="./Public/view/layui.html" />
<block name="baseDiv">
<div style="margin-right:10%;margin-top:30px;">
	<form class="layui-form" id="deskForm">
		<div class="layui-form-item">
			<label class="layui-form-label">金额</label>
			<div class="layui-input-block">			
					<input type="text" name="receivable_account" class="layui-input" placeholder="请输入金额" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">收款账号</label>
			<div class="layui-input-block">			
					<input type="text" name="receivable_bank" class="layui-input" placeholder="请输入银行" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">			
					<input type="text" name="receivable_remark" class="layui-input" placeholder="备注" />
			</div>
		</div>
	</form>
</div>
</block>
<block name="baseScript">
<script>
	layui.use(['form'],function(){
		var form = layui.form;
	});
</script>
</block>