<extend name="./Public/view/indexTable.html" />
<block name="baseToolbar">
    <ul class="layui-nav layui-layout-left" style="left:0px;">
      <li class="layui-nav-item"><a href="javascript:;" id="search1">查询</a></li>
    </ul> 
    <form class="layui-layout-left" style="padding:10px;left:90px;">
      <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <textarea placeholder="请输入单号" id="awbno" class="layui-textarea" style="min-height:40px;height:40px;max-height:40px;"></textarea>
            </div>
        </div>
      </div>
    </form>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item"><a href="javascript:;" id="search" >查询</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">导出</a>
        <dl class="layui-nav-child">
          <dd class="exportExcel" data-type="excel" data-export="all"><a href="javascript:;">全部</a></dd>
          <dd class="exportExcel" data-type="excel" data-export="page"><a href="javascript:;">本页</a></dd>
          <!-- DEBUG<dd class="exportExcel" data-type="excel" data-export="selected"><a href="javascript:;">选中项<a></dd> -->
        </dl>
      </li>
    </ul>  
</block>
<block name="baseFields">
    <th data-field="state" data-width="40" data-align="center" data-checkbox="true"></th>
    <th data-field="Index" data-width="80" data-align="center" data-formatter="indexFormatter">SL NO.</th>
    <th data-field="billdate" data-width="90" data-align="center" data-formatter="timeFormatter">DATE</th>
    <th data-width="90">MAWB</th>
    <th data-field="awbno" data-width="110" data-align="center" data-formatter="awbFormatter">AWB NOS</th>
    <th data-field="userrefid" data-width="100" data-align="center" >userrefid</th>
    <th data-field="consigneename" data-width="100" data-align="center" >RECIVER</th>
    <th data-field="consigneeaddress1" data-width="100" data-align="center" >RECIVER ADDRESS</th>  
    <th data-field="consigneecountry" data-width="100" data-align="center" >COUNTRY</th>   
    <th data-field="consigneecity" data-width="100" data-align="center" >CITY</th> 
    <th data-field="destination" data-width="100" data-align="center" >CITY CODE</th> 
    <th data-field="consigneephone" data-width="100" data-align="center" >TEL NOS</th>
    <th data-field="noofpieces" data-width="100" data-align="center" >PCS</th>  
    <th data-field="orderpcs" data-width="100" data-align="center" >GoodsPCS</th>  
    <th data-field="cweight" data-width="100" data-align="center" >WT</th> 
    <th data-field="ordername" data-width="100" data-align="center" >CONTENT</th> 
    <th data-field="value" data-width="100" data-align="center" >VALUE</th> 
    <th data-width="100" data-formatter="ccyFormatter" data-align="center" >CCY</th> 
    <th data-field="servicetype" data-width="100" data-align="center" >ServiceType</th>
    <th data-field="inamt" data-width="100" data-align="center" >Amount to Collect</th>
    <th data-field="unit" data-width="100" data-align="center" >Collection Currency</th>
    <th data-field="refcode" data-width="100" data-align="center" >Smsa no.</th> 
    <th data-field="vlength" data-width="100" data-align="center" >Length</th> 
    <th data-field="vwidth" data-width="100" data-align="center" >Width</th> 
    <th data-field="vheight" data-width="100" data-align="center" >Height</th>               
</block>
<block name="baseScript">
<script>
function codeFormatter(_val){
    return 'Code:'+_val;
}
function ccyFormatter(_val){
    return 'USD';
}
/*function dateTimeFormatter(_val) {
    var t, y, m, d, h, i, s, ts = _val;
    t = ts ? new Date(ts * 1000) : new Date();
    y = t.getFullYear();
    m = t.getMonth() + 1;
    d = t.getDate();
    h = t.getHours();
    i = t.getMinutes();
    s = t.getSeconds();
    // 可根据需要在这里定义时间格式
    return y + '-' + (m < 10 ? '0' + m : m) + '-' + (d < 10 ? '0' + d : d);
}*/
var layer = '';
layui.use(['form','jquery','layedit','laydate','element'],function(){
    var form = layui.form
    ,layer = layui.layer
    ,element = layui.element
    ,layedit = layui.layedit
    ,laydate = layui.laydate
    ,$ = layui.jquery;
    laydate.render({elem:'#timeOut',type:'datetime',range:'~',theme:'#393D49'});
    laydate.render({elem:'#timeFinish',type:'datetime',range:'~',theme:'#393D49'});
    $('#awbno').keydown(function(e){
      if(e.keyCode == 13){
        $('#search').click();
      }
    });
    $('.quickTime').click(function(){
      XHRTable($(this).data('time'));
    });
});
</script>
</block>
<block name="baseFunction">
<script>
var indexLoad = '';
function XHRTable(selectTime = false){
      $("#DataTable").bootstrapTable('destroy').bootstrapTable({
          method: "post", //使用post请求到服务器获取数据
          url: "__ORDERFOLLOWUP__/ExportUpdateOrder/XHRIndex", //获取数据的Servlet地址
          height:getHeight(),
          classes:'layui-table text-nowrap',
          pagination: true, //启动分页
          pageSize: 25, //每页显示的记录数
          pageNumber: 1, //默认显示页
          pageList: [25,50,100,200,1500], //记录数可选列表
          search: false, //是否启用查询
          showColumns: false, //显示下拉框勾选要显示的列
          showRefresh: false, //显示刷新按钮
          showExport:true,//显示是否可以导出(这里只做开启用)
          sidePagination: "server", //表示服务端请求
          //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
          //设置为limit可以获取limit, offset, search, sort, order
          queryParamsType: "undefined",
          queryParams: function queryParams(params) { //设置查询参数
              indexLoad = layer.load(2,loadStyle);
              var param = {
                  pageNumber: params.pageNumber,
                  pageSize: params.pageSize,
                  sortOrder:params.sortOrder=='asc' ? 'desc' :'asc',
                  sortName: params.sortName ? params.sortName:'id',
                  awbno:$('#awbno').val(),
                  timeOut:$('#timeOut').val(),
                  timeFinish:$('#timeFinish').val(),
                  username:$('#username').val(),
                  country:$('#country').val()
              };
              if(selectTime){
                param.timeOut = selectTime;
              }
              //console.log(param);
              return param;
          },
          onLoadSuccess:function(){
            layer.close(indexLoad);
          }
      });     
}
</script>
</block>