<extend name="./Public/view/indexTable.html" />
<block name="baseToolbar">
    <ul class="layui-nav layui-layout-left" style="left:0px;">
      <li class="layui-nav-item"><a href="javascript:;" id="search" >查询</a></li>      
    </ul> 
    <form class="layui-layout-left" style="padding:10px;left:120px;">
      <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input" id="scantime" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
            </div>
        </div>
      </div>
    </form>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item"><a href="javascript:;" id="search" >查询</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">导出</a>
        <dl class="layui-nav-child">
          <dd class="exportExcel" data-type="excel" data-export="all"><a href="javascript:;">全部</a></dd>
          <dd class="exportExcel" data-type="excel" data-export="page"><a href="javascript:;">本页</a></dd>
          <!-- DEBUG<dd class="exportExcel" data-type="excel" data-export="selected"><a href="javascript:;">选中项<a></dd> -->
        </dl>
      </li>
    </ul>  
</block>
<block name="baseFields">
          <th data-field="id" data-width="40" data-align="center" data-formatter="indexFormatter">ID</th>
          <th data-field="scantime" data-width="200" data-align="center" data-sortable="true">时间</th>
          <th data-field="shipperref" data-align="center" data-sortable="true">ShipperRef</th>
          <th data-field="packageno" date-align="center" data-sortable="true">Packageno </th>
</block>
<block name="baseScript">
<script>
var layer = '';
layui.use(['form','jquery','layedit','laydate','element'],function(){
    var form = layui.form
    ,layer = layui.layer
    ,element = layui.element
    ,layedit = layui.layedit
    ,laydate = layui.laydate
    ,$ = layui.jquery;
    laydate.render({elem:'#scantime',type:'datetime',range:'~',theme:'#393D49'});
});
</script>
</block>
<block name="baseFunction">
<script>
var indexLoad = '';
function XHRTable(){
      $("#DataTable").bootstrapTable('destroy').bootstrapTable({
          method: "post", //使用post请求到服务器获取数据
          url: "__SWEEPTOOL__/ScanOrder/XHRIndex", //获取数据的Servlet地址
          height:getHeight(),
          classes:'layui-table text-nowrap',
          pagination: true, //启动分页
          pageSize: 25, //每页显示的记录数
          pageNumber: 1, //默认显示页
          pageList: [25,50,100,200,1500], //记录数可选列表
          search: false, //是否启用查询
          showColumns: false, //显示下拉框勾选要显示的列
          showRefresh: false, //显示刷新按钮
          showExport:true,//显示是否可以导出(这里只做开启用)
          sidePagination: "server", //表示服务端请求
          //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
          //设置为limit可以获取limit, offset, search, sort, order
          queryParamsType: "undefined",
          queryParams: function queryParams(params) { //设置查询参数
              indexLoad = layer.load(2,loadStyle);
              var param = {
                  pageNumber: params.pageNumber,
                  pageSize: params.pageSize,
                  sortOrder:params.sortOrder=='asc' ? 'desc' :'asc',
                  sortName: params.sortName ? params.sortName:'scantime',
                  scantime:$('#scantime').val(),
              };
              console.log(param);
              return param;
          },
          onLoadSuccess:function(){
            layer.close(indexLoad);
          }
      });     
}
</script>
</block>